@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

h1{
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 45px;
}
p{
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 25px;
}
