<main class="conteudo">
  <section class="conteudo-principal">
      <div class="conteudoPrincipal-escrito">
        <h1> PÁGINA NÃO ENCONTRADA </h1>
        <h2 class="conteudoPrincipal-subtitulo">Verifique se digitou a url corretamente!</h2>
      </div>
      <img class="conteudoPrincipal-imagem" src="404.svg" alt="Not Found">
  </section>

  <section class="conteudoSecundario">
    <h3 class="conteudoSecundario-titulo"> Quais URLs acessar?</h3>
    <p class="conteudoParagrafo">1. O <strong> /character </strong> leva para a listagem e cadastro de personagens</p>
    <p class="conteudoParagrafo">2. O <strong> /animals </strong> leva para a listagem e cadastro de animais</p>
    <p class="conteudoParagrafo">3. O <strong> /enemy </strong> leva para a listagem e cadastro de inimigos</p>
    <p class="conteudoParagrafo">4. O <strong> /npc </strong> leva para a listagem e cadastro de npcs</p>
</section>
</main>
